{% extends 'manager_base.html' %}

{% block title %}
accueil administrateur
{% endblock title %}

{% block container %}

<div class="container-fluid shop">
    <br>
    <div class="text-center bg-light p-2" style="border-radius: 1em;">
        <h2 class="" style="text-shadow: 2px 2px 2px #000;">Bienvenue sur espace administration de votre site
            SenBoutique</h2>
        <p class="text-italic">Site de vente d'articles de toutes sortes <i class="fa fa-smile"></i></p>

    </div>

    <div class="text-center mt-5">
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#staticBackdrop">
            <i class="fa fa-plus"></i> &nbsp; informations
        </button>
    </div>
        
    <!-- Modal -->
    <div class="modal  fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title  text-uppercase" id="staticBackdropLabel">informations sur role de
                        l'administrateur du site</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bienvenue {{user.firstname}} {{user.lastname}},
                    Si vous etes ici c'est que vous etes administrateur du le site <i>SenBoutique</i>. <br>
                    En effet, vous etes chargé de gerer le site dans son ensemble. Depuis cette panneaux 
                    d'administration, vous etes en mesure de:
                    <ul>
                        <li>
                            <strong>Gèrer les articles:</strong>
                            <ul>
                                <li>Ajouter article</li>
                                <li>Modifier article</li>
                                <li>Supprimer article</li>
                            </ul>
                        </li>
                        <hr>
                        <li>
                            <strong>Gèrer les Catégoris:</strong>
                            <ul>
                                <li>Ajouter catégori</li>
                                <li>Modifier catégori</li>
                                <li>Supprimer catégori</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="alert alert-info">
                        <h2><strong class="text-info">Note <i class="fa fa-edit"></i></strong></h2>
                        Veuillez penser a bien selection les images des articles avant de les 
                        enregistrer dans la base de données. Pour la taille, le systéme a déjà mis en place un mécanisme
                        lui permettant de la gérer. <br>
                        <i>Merci d'avoir lu</i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Ok j'ai compris</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% if messages %}
        
        {% for message in messages  %}
            <div class="container alert alert-info">
                {{message}}
            </div>
        {% endfor %}
            
{% endif %}
 
{% endblock container %}