{% extends 'welcome_base.html' %}


{% block title %}
    accueil site
{% endblock title %}
    

{% block container %}
<div class="shop container-fluid">
    <div class="pt-5 text-center">
        <span style="font-size: 3em; text-shadow: 8px 3px 3px #000;font-weight: bold;" class="text-white font-italic">SenBoutique</span>
        <p style="font-size: 1.6em; text-shadow: 8px 3px 3px #000;font-weight: bold;" class="text-white font-italic">
            La boutique la plus proche de chez vous <span class="fa text-warning fa-smile"></span>
        </p>
        <div class="col-sm-4 offset-sm-4">

            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">

                    {% for car in cars %}

                    {% if forloop.counter == 1 %}
                    <li data-target="#demo" data-slide-to="{{forloop.counter}}" class="active"></li>
                    {% else %}
                    <li data-target="#demo" data-slide-to="{{forloop.counter}}"></li>
                    {% endif %}

                    {% endfor %}

                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">

                    {% for article in articles %}

                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                        <img src="{{article.image.url}}" class="img-fluid img-thumbnail" alt="Los ">
                        <div class="carousel-caption">
                            <div class="text-center">
                                <button class="btn btn-sm btn-warning">{{article.name | truncatechars:15}}</button>
                                <br>
                                <br>
                                <button class="btn btn-sm btn-warning">prix {{article.price}} Francs</button>                                
                                <br>
                                <br>
                                <button class="btn btn-sm btn-warning">Tél {{article.user.tel}}</button>                                
                            </div>

                        </div>

                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <img src="{{article.image.url}}" class="img-fluid img-thumbnail" alt="Los ">
                        <div class="carousel-caption">
                            <div class="text-center">
                                <button class="btn btn-sm btn-warning">{{article.name | truncatechars:15}}</button>
                                <br>
                                <br>
                                <button class="btn btn-sm btn-warning">prix {{article.price}} Francs</button>  
                                <br>
                                <br>
                                <button class="btn btn-sm btn-warning">Tél {{article.user.tel}}</button>                                
                              
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% endfor %}


                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
    </div>
</div>
{% endblock container %}
    