{% extends 'manager_base.html' %}

{% block title %}
articles
{% endblock title %}

{% block container %}
<div class="container mt-3">

    <h2 class="font-italic" style="text-shadow: 2px 1px 1px #000;">Liste articles</h2>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Liste catégorie
                        {% if category %}
                          (<strong class="text-info">{{category}}</strong>) 
                        {% endif %}
                            
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="?category=all">Tout les catégoris</a>
                        {% for category in categories %}
                            <a class="dropdown-item" href="?category={{category}}">catégori {{category}}</a>
                        {% endfor %}
                            
                    </div>
                </li>

            </ul>

        </div>

    </nav>
    <hr>
    <div class="text-right">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addArticle">
            <i class="fa fa-plus"></i> ajouter article
        </button>
    </div>
    <!-- Modal -->
    <form action="{% url 'saveArticle' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal fade" id="addArticle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="exampleModalLabel">Enregistrer article</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{form.as_p}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-info">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endfor %}

    {% endif %}

</div>
{% if articles %}
<div class="container">

    <div class="row">
        {% for article in articles %}
        <div class="col-sm-4 mt-2">
            <div class="card">
                <div class="card-header"> <small>{{article.name}},</small>
                    {% if article.old_price %}
                    ancien prix: <strike class="text-danger">{{article.old_price}} Francs</strike>
                    &&
                    {% endif %}
                    prix actuel: <span class="text-info">{{article.price}} Francs</span>
                </div>
                <div class="card-body">
                    <img src="{{article.image.url}}" class="img-fluid">
                </div>
                <div class="card-footer text-center">

                    Nombre exemplaires: <span class="text-info">{{article.number_of_exemplaire}}</span>
                    <br>
                    Téléphone: <span class="text-info">{{article.user.tel}}</span>
                    <hr>
                    <a href="/articles/editArticle/{{article.id}}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#trash{{article.id}}"><i
                            class="fa fa-trash"></i></button>


                </div>
                <!-- Modal -->
                <div class="modal fade" id="trash{{article.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-white">
                                <h5 class="modal-title" id="exampleModalLabel">Suppression article ...</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Etes-vous sûre de vouloir supprimer cet article ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Non,
                                    annuler</button>
                                <a href="/manager/deleteArticle/{{article.id}}" class="btn btn-danger btn-sm">Oui, je
                                    suis sûre</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="alert alert-dark mt-2">
        <strong>{{articles|length}} article{{articles|pluralize:'s'}}</strong>
    </div>
</div>
{% else %}
<div class="alert container alert-dark">Liste articles 
{% if category %}
    de catégori <strong class="text-info">{{category}}</strong>
{% endif %}
     vide !</div>
{% endif %}
{% endblock %}